<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30100">
    <setting id="videoquality" type="enum" label="30010" lvalues="30011|30012|30013" default="3" />
    <setting id="showsettings" type="bool" label="30020" default="true" />
    <setting id="showlogo" type="bool" label="30030" default="false" />
  </category>
</settings>
